button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  background: $color__background-button;
  color: rgba(0, 0, 0, .8);
  @include font-size(1.3);
  line-height: 1;
  padding: 10px;
  cursor: pointer;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
    outline: none;
  }
}
