* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 16px;
}
html, body {
  font-family: 'TT Commons', Arial, Helvetica, sans-serif;
  font-size: 1.0625rem;
  color: #697A89;
}

a {
  color: $primary;
  &:visited {
    color: $color__link-visited;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus,
  &:hover {
    outline: none;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

@import "lists";

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

h1 {
	font-weight: 600;
	font-size: 4rem;
	letter-spacing: -0.25px;
	line-height: 1.125;
	color: #022144;
	margin-bottom: 20px;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.125;
  color: #022144;
  margin-bottom: 20px;
  &.sub-h1 {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
    color: #697A89;
	}
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.167;
  color: #022144;
  margin-bottom: 10px;
}

h6 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.125;
  color: #022144;
  margin-bottom: 10px;
}

p {
  font-size: 1.0625rem;
  line-height: 1.375;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
	h1 {
	  font-size: 3rem;
	}
}

@media (max-width: 575px) {
	h1 {
	  font-size: 2.5rem;
	}
	h3 {
    font-size: 1.75rem;
	}
}

@import "tables";
